<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="border100">
      <tr>
        <td height="29" valign="middle"  background="images/inner_img100_18.jpg" class="heading100"  style="padding-left:5px;"  alt=""><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="35%" height="19" class="tahoma_heading_12" style="padding-left:15px;"><a href="index.html" class="tahoma_heading_12">Dashboard &raquo; </a>  Invoice   </td>
              <td width="64%" class="tahoma_heading_12" style="padding-right:10px;"><div align="right" class="tahoma_heading_12"><a href="add_invoice.html" class="tahoma_heading_12">Add  Invoice</a></div></td>
            </tr>
        </table></td>
      </tr>
      <tr>1
        <td height="17" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr >
              <td ><table width="100%" border="0" cellspacing="0" cellpadding="0" height="25">
                  <tr bgcolor="#EEEEEE" >
                    <td width="36%" bgcolor="#EEEEEE" style="padding-left:8px;">&nbsp;</td>
                    <td width="59%">&nbsp;</td>
                    <td width="5%"><img src="images/print.png" width="19" height="19" /></td>
                  </tr>
              </table></td>
            </tr>
            <tr >
              <td>
              <table width="100%" border="0" cellpadding="3" cellspacing="1" id="t02">
                  <script>vendor('<%= user.username %>');</script>
              </table>
              </td>
            </tr>
        </table></td>
      </tr>
    </table>