<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="2%">&nbsp;</td>
		<td width="6%"  class="tahoma_heading_12"><strong><a href="/logout" class="tahoma_heading_12">Logout</a></strong></td>
		</tr>
</table>